body * {
	font-family: fantasy;
}


h1 {
	text-align: center;
	text-shadow: 2px 2px 5px darkgrey;
}


#views {
	display: flex;
	justify-content: space-around;
	padding: 30px;
}

#refresh {
	cursor: pointer;
}


#cards {
	margin: 20px;
	height: 500px;
	width: auto;

	display: flex;
  	flex-wrap: wrap;
}


.hideCardValue {
	display: none;
}


button {
	font-size: 150%;
	width: 25%;
  	box-sizing: border-box;
  	background-color: #5fc7e3;
  	cursor: pointer;
}


button[state=hiddenCard] { background-color: #5fc7e3; }
button[state=activeCard] { background-color: green; }
button[state=matchingCard] { background-color: orange; }